@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practica 6</h1>
    <p class="lead">Esta es la resolucion de la practica 6 del laboratorio .net 2023</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Categories</h2>
        <p class="text-center">
            ABM de la entidad Categories
        </p>
        <p><a class="btn btn-primary btn-sm btn-block" href="@Url.Action("List", "Category")">Ir</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Shippers</h2>
        <p class="text-center">
            ABM de la entidad Shippers
        </p>
        <p><a class="btn btn-primary btn-sm btn-block" href="@Url.Action("List", "Shipper")">Ir</a></p>
    </div>
</div>