<div class="container">
  <button
    mat-raised-button
    color="primary"
    data-bs-toggle="modal"
    data-bs-target="#formModal"
    (click)="isFormMode = true"
  >
    Agregar Nuevo Campo
  </button>
  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.ShipperID }}</td>
        </ng-container>

        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>CompanyName</th>
          <td mat-cell *matCellDef="let element">{{ element.CompanyName }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element.Phone }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <button
              mat-mini-fab
              color="primary"
              (click)="modalEditShipper(element)"
              data-bs-toggle="modal"
              data-bs-target="#formModal"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="warn"
              (click)="deleteShipper(element.ShipperID)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="formModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="formShipper" (ngSubmit)="onSubmitShipper()">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle" style="margin: 0">
            {{ isFormMode ? "INSERTAR NUEVO CAMPO" : "MODIFICAR CAMPO" }}
          </h2>
          <button
            type="button"
            mat-icon-button
            color="warn"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="this.formShipper.reset()"
            data-bs-dismiss="modal"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <mat-form-field appearance="fill" *ngIf="!isFormMode">
              <mat-label>Id</mat-label>
              <input
                matInput
                placeholder="Id"
                autocomplete="off"
                formControlName="Id"
              />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Nombre Compania</mat-label>
              <input
                matInput
                placeholder="Nombre Compania"
                autocomplete="off"
                formControlName="companyName"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <mat-label>Telefono</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="phone"
                placeholder="Telefono"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button
            mat-fab
            extended
            color="primary"
            [disabled]="formShipper.invalid"
            type="submit"
            data-bs-dismiss="modal"
          >
            {{ isFormMode ? "Insertar" : "Modificar" }}
          </button>
          <button
            mat-fab
            extended
            color="warn"
            type="button"
            (click)="this.formShipper.reset()"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
