<div class="jumbotron">
    <h1>Practica 7 - API</h1>
    <p class="lead">Esta es la pagina principal de la práctica 7, en esta vista se puede observar los datos extraidos de la API "DolarSi", el cual devuelve la cotización actual del dolar.</p>
    <p class="lead">ACTUALIZACION 18/9: Debido a que la página "DolarSi" quedo fuera de servicio, se adiciono otra consulta a la api de "openweathermap", el cual trae los datos del clima de la ciudad de Rosario, Santa Fe - Argentina</p>

</div>
<br />
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center">Dolar Oficial</h3>
            <div class="col-md-6">
                <h4 class="text-center">Compra</h4>
                <p id="officialDollarPurchase" class="text-center"></p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Venta</h4>
                <p id="officialDollarSale" class="text-center"></p>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Dolar Blue</h3>
            <div class="col-md-6">
                <h4 class="text-center">Compra</h4>
                <p id="dollarBluePurchase" class="text-center"></p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Venta</h4>
                <p id="dollarBlueSale" class="text-center"></p>
            </div>
        </div>
    </div>
</div>

<br />
<hr />

<div class="container">
    <div class="row">
        <h2>Api Clima: agregado 18/9</h2>
        <div class="text-center col-md-4">
            <h3 id="nameCity"></h3>
            <img id="icon" />
            <p id="temp"></p>
            <p id="thermalSensation"></p>
            <p id="humidity"></p>
            <p id="wind"></p>
            <p id="pressure"></p>
        </div>
    </div>
</div>

@section scripts{
    <script>

        // API consulta cotizacion Dolar
        const officialDollarPurchase = document.getElementById("officialDollarPurchase")
        const officialDollarSale = document.getElementById("officialDollarSale")
        const dollarBluePurchase = document.getElementById("dollarBluePurchase")
        const dollarBlueSale = document.getElementById("dollarBlueSale")

        const getMoney = (money) => {
            return fetch("https://www.dolarsi.com/api/api.php?type=valoresprincipales")
                .then((response) => response.json())
                .then((data) => {
                    let reply = data.find(item => item.casa.nombre === money)
                    return reply;
                })
                .catch((error) => console.log(error));
        };

        async function showMoney(inputMoney, purchase, sale) {
            let dolarValue = await getMoney(inputMoney);
            purchase.innerText = "$" + dolarValue.casa.compra
            sale.innerText = "$" + dolarValue.casa.venta
        }
        showMoney("Dolar Oficial", officialDollarPurchase, officialDollarSale);
        showMoney("Dolar Blue", dollarBluePurchase, dollarBlueSale);


        //***********************************************

        // API consulta clima en rosario
        const keyApi = "22718e9bd829f98423a40d7a5b44fa3d";
        const city = "rosario";

        const nameCity = document.getElementById("nameCity")
        const icon = document.getElementById("icon")
        const temp = document.getElementById("temp")
        const thermalSensation = document.getElementById("thermalSensation")
        const humidity = document.getElementById("humidity")
        const wind = document.getElementById("wind")
        const pressure = document.getElementById("pressure")

        const consultAPI = (city) => {
            return fetch(`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${keyApi}&units=metric&lang=es`)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw Error();
                    }
                })
                .then(data => {
                    return data
                })
                .catch(err => {
                    return err
                })
        }
        async function showWeather(city) {
            try {
                let data = await consultAPI(city)
                console.log(data)

                nameCity.innerText = data.name
                icon.setAttribute("src", `http://openweathermap.org/img/wn/${data.weather[0].icon}.png`)
                temp.innerText = `Temperatura: ${data.main.temp}°`
                thermalSensation.innerText = `Sensación Térmica: ${data.main.feels_like}°`
                humidity.innerText = `Humedad: ${data.main.humidity}%`
                wind.innerText = `Velocidad del Viento: ${data.wind.speed}km/h`
                pressure.innerText = `Presión: ${data.main.pressure} P`

            } catch (e) {
                console.log(e)
            }
        }
        showWeather(city);
    </script>
}


