<div class="jumbotron">
    <h1>Practica 7 - API</h1>
    <p class="lead">Esta es la pagina principal de la práctica 7, en esta vista se puede observar los datos extraidos de la API "DolarSi", el cual devuelve la cotización actual del dolar.</p>

</div>
<br />
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center">Dolar Oficial</h3>
            <div class="col-md-6">
                <h4 class="text-center">Compra</h4>
                <p id="officialDollarPurchase" class="text-center"></p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Venta</h4>
                <p id="officialDollarSale" class="text-center"></p>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Dolar Blue</h3>
            <div class="col-md-6">
                <h4 class="text-center">Compra</h4>
                <p id="dollarBluePurchase" class="text-center"></p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Venta</h4>
                <p id="dollarBlueSale" class="text-center"></p>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>const officialDollarPurchase = document.getElementById("officialDollarPurchase")
        const officialDollarSale = document.getElementById("officialDollarSale")
        const dollarBluePurchase = document.getElementById("dollarBluePurchase")
        const dollarBlueSale = document.getElementById("dollarBlueSale")

        const getMoney = (money) => {
            return fetch("https://www.dolarsi.com/api/api.php?type=valoresprincipales")
                .then((response) => response.json())
                .then((data) => {
                    let reply = data.find(item => item.casa.nombre === money)
                    return reply;
                })
                .catch((error) => console.log(error));
        };

        async function showMoney(inputMoney, purchase, sale) {
            let dolarValue = await getMoney(inputMoney);
            purchase.innerText = "$" + dolarValue.casa.compra
            sale.innerText = "$" + dolarValue.casa.venta
        }
        showMoney("Dolar Oficial", officialDollarPurchase, officialDollarSale );
        showMoney("Dolar Blue", dollarBluePurchase, dollarBlueSale);</script>
}
