<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div id="containerHome" class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Practica 8</h1>
        <p class="lead text-muted">ABM completo de las entidades Categorias y Proveedores</p>
        <p>
          <a [routerLink]="['/categories']" class="btn btn-primary my-2">Categorias</a>
          <a [routerLink]="['/shippers']" class="btn btn-secondary my-2">Proveedores</a>
        </p>
      </div>
    </div>
  </section>